# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
frontend/
backend/node_modules/

# Expo
frontend/.expo/
frontend/dist/
frontend/web-build/
frontend/expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
frontend/.env*.local
backend/.env*.local

# typescript
*.tsbuildinfo

# logs
frontend/logs/
backend/logs/

# Supabase
backend/.env
backend/supabase/.env
